/* 공통 속성 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  /* min-width: 1685px; */
  width: 1920px;
  font-size: 1.8rem;
  font-family: "Noto Sans KR", sans-serif !important;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Header */
/* .header {
  background: black;
  height: 93px;
  padding: 30px 0 24px;
} */
/* .container, */
.container-float {
  background: lime;
  /* max-width: 1920px; */
  margin: 0 auto;
  /* padding: 0 20px; */
  position: relative;
}
/* 부모요소에게 after를 사용하여 float되어 있는 요소를 clear해줍니다 */
/* .container-float::after {
  display: block;
  content: "";
  clear: both;
}
.guide-icon {
  margin: 0;
  padding-left: 38px;
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 1;
}
.logo {
  margin: 0;
  padding-left: 97px;
  position: absolute;
  top: 2.1px;
  left: 0;
}
.search {
  width: 819px;
  z-index: -1;
}
.search-form {
  padding-left: 364px;
  position: relative;
}
.search-form-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  left: 364px;
  border: 0;
  background: url("images/icon/again/icon_search.png") no-repeat;
  cursor: pointer;
} */
/* .search-form-btn:hover {
  color: #0c4b44;
} */
/* .search-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 9px 10px 5px 34px;
}
input::placeholder {
  color: white;
  font-size: 22px;
}
.notify-icon {
  margin: 0;
  position: absolute;
  top: 8px;
  right: 44px;
} */

/* Main */
/* MAIN CONTENT */
.main-content {
  background: pink;
  float: left;
  width: 1334px;
  height: 2897px;
}
.playback-screen {
  background: yellow;
}
.artwork-title-like-info {
  background-color: orchid;
  display: flex;
  height: 67px;
  margin-top: 44px;
}
.artwork-title {
  width: 741px;
  height: 67px;
  font-family: NotoSansKR;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: -0.305px;
  word-spacing: -2.2px;
  text-align: left;
  color: #ffffff;
  margin-left: 306px;
}
.artwork-like {
  width: 39px;
  height: 33px;
  margin: 17px 22.3px 0 70.7px;
}
.art-info-btn {
  width: 122px;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2.5px #60517c;
  margin-top: 13.5px;
  display: flex;
}
.info-btn-disc {
  width: 78px;
  height: 29px;
  object-fit: contain;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #60517c;
  padding-top: 4.5px;
  margin: 0 0.4px 0 10.5px;
}
.info-btn-icnArrow {
  line-height: 0;
  margin-top: 9.4px;
}
.artwork-artist-year-size {
  background-color: turquoise;
  display: flex;
  margin-top: 12px;
}
.artwork-artist {
  display: flex;
  padding-left: 295px;
}
.artist-pic {
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
}
.artist-name {
  width: 271px;
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  margin: 4px 18.3px 0 10px;
  padding-top: 4px;
}
.artist-role {
  width: 44px;
  height: 29px;
  object-fit: contain;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b493ef;
  margin: 7px 23.2px 0 0;
  padding-top: 3.5px;
}
.artwork-year {
  width: 78px;
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  word-spacing: -0.5px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #dcdcdc;
  margin: 0 16px;
}
.artwork-size {
  width: 158px;
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  word-spacing: -0.5px;
  text-align: center;
  color: #dcdcdc;
  margin: 0 16px;
}
.artwork-tracker {
  width: 626px;
  height: 626px;
  border: solid 14px #60517c;
  border-radius: 50%;
  margin: 47px 0 0 333px;
}
.artwork-tracker-state {
  width: 313px;
  height: 313px;
  border: solid 14px #b493ef;
  background: #202020;
  border-radius: 0 313px 0 0;
  margin: -14px 0 0 299px;
  z-index: 1;
}
.state-hide {
  width: 299px;
  height: 299px;
  background: #202020;
  border-radius: 0 299px 0 0;
  margin-left: -14px;
}
.tracker-circle {
  position: absolute;
  width: 53.9px;
  height: 53.9px;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: -26.95px 0 0 265.05px;
}
.artwork-tracker-pic {
  width: 524.5px;
  height: 524.5px;
  overflow: hidden;
  border-radius: 50%;
  margin: -262.25px 0 0 36.75px;
  z-index: -1;
}
.playback-present-artNum {
  width: 47px;
  height: 36px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: center;
  color: #bcbcbc;
  padding-top: 6px;
  margin: 32px 0 10.9px 622px;
}
.playback-ctrl-btn {
  display: flex;
  margin-bottom: 28.75px;
}
.playback-previous-art {
  margin: 0 80.75px 0 518.15px;
}
.playback-after-art {
  margin-left: 80.75px;
}
.division-bar {
  width: 1271px;
  height: 2px;
  background-color: #707070;
  margin-left: 30.5px;
}
.playlist-review {
  background: orange;
}
.review-etc-ctrl-btn {
  display: flex;
  margin-top: 22px;
  background: blueviolet;
}
.review-num {
  height: 33px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 5.5px;
  margin: 8px 31px 0 30px;
}
ul.review,
li.review {
  list-style: none;
  margin: 0;
  padding: 0;
}
li.review {
  display: inline-block;
  width: 192px;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif !important;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  border-radius: 9px;
  border: solid 1px #bcbcbc;
  background-color: #202020;
  text-align: center;
  position: relative;
  padding-top: 9px;
  display: flex;
}
.dropdown-title {
  height: 29px;
  padding: 4.5px 0 0 17px;
}
li.initial-selected > img {
  margin: 13px 17.7px 0 7.9px;
}
li ul.review {
  position: absolute;
  display: none;
  margin: 40px 0 0 -1px;
}
ul.review > li > a {
  /* text-align: center;하고 싶으면 width inherit 후 padding-left=0하기! */
  height: 29px;
  color: #bcbcbc;
  padding: 4.5px 0 0 17px;
}
li.review:hover ul.review {
  display: block;
}
.review-sound-icon-1 {
  margin: 7px 0 0 647px;
}
.review-sound-icon-2 {
  margin: 5px 3px 0 0;
}
.review-sound-volume {
  width: 89px;
  height: 4px;
  background-color: #3f394b;
  margin: 20px 25px 0 0;
}
.review-sound-present {
  width: 69px;
  height: 4px;
  background-color: #60517c;
}
.review-mouth-talk-1 {
  margin: 10px 0 0 0;
}
.review-mouth-talk-2 {
  margin: 5px 25.2px 0 0;
}
.review-mouth-script {
  margin: 5px 0 0 0;
}
.review-post-comment {
  margin: 50px 0 0 0;
}
.review.playlists-post {
  background: brown;
  display: flex;
  word-spacing: 0px;
  padding: 0 0 31.5px 0;
}
.review.user-pic {
  width: 66px;
  height: 66px;
}
.review-for-comment {
  padding-left: 18px;
}
.review-name-and-role {
  display: flex;
}
.review.user-name {
  width: 72px;
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  word-spacing: -0.5px;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  /* margin: 6.5px 0 0 8px; */
  padding: 4px 0 0 0;
}
.review.user-role {
  width: 66px;
  height: 29px;
  object-fit: contain;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  word-spacing: -0.5px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b493ef;
  padding: 0;
  margin: 2px 0 0 8.3px;
  padding: 3.5px 0;
  /* padding: 7.5px 0 0 8px; */
}
.review.input-comment {
  width: 819px;
  z-index: -1;
}
.review-form {
  position: relative;
}
.review-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o);
}
input[type="email"] {
  width: 100%;
  border-width: 1px;
  border-style: none none solid none;
  padding: 10px 0 10.5px 0;
}
input::placeholder {
  font-family: Arial;
  word-spacing: -0.5px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #dcdcdc;
}
.review.playlists-post.other {
  padding: 38px 0 0 0;
}
.review.input-comment.other {
  width: 984px;
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  word-spacing: -0.5px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 4px;
  margin: 6px 0 12px 0;
  display: flex;
}
.review.see.more.btn {
  height: 32px;
  object-fit: contain;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  margin: -1px 0 0 998px;
  border: 0;
  background: transparent;
}
.review.like {
  display: flex;
}
.review-like-num {
  width: 13px;
  height: 27px;
  object-fit: contain;
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  padding: 3px 0 0 0;
  margin-left: 10px;
}

/* guide-section */
.page-controller {
  display: flex;
  height: 22px;
  margin-top: 35px;
  padding-left: 474px;
}
.minimize-btn {
  padding-right: 30.4px;
}

/* 현재 재생 중인 플레이리스트 */
.current-playlist {
  background: chartreuse;
  padding-left: 23.4px;
}
.current-playlist-title {
  height: 33px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 9.7px 0 0 0;
  margin: 0 0 29px 0;
}
.current-desc-outline {
  display: flex;
  padding-bottom: 20px;
}
.current.playlists-pic {
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.current.playlists-title {
  width: 390px;
  height: 57px;
  font-size: 20px;
  line-height: 1.5;
  font-family: NotoSansKR;
  word-spacing: -2.2px;
  font-size: 20px;
  margin-left: 32.6px;
}
.current.playlist-like {
  padding-top: 6.1px;
  margin-left: 9px;
}
.current.user-info {
  display: flex;
  padding-bottom: 20px;
}
.current.title {
  height: 29px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.07px;
  text-align: left;
  color: #bcbcbc;
  padding-top: 4.5px;
}
.current.user-pic {
  width: 26px;
  height: 26px;
  margin-left: 47.6px;
}
.current.user-name {
  width: 60px;
  height: 27px;
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 0 8px;
  padding-top: 3.5px;
}
.current.user-role {
  width: 54px;
  height: 24px;
  font-size: 18px;
  margin: 5px 0 0 10.3px;
}
.current.music {
  display: flex;
  padding-bottom: 22px;
}
.current.music-content {
  margin-left: 24.34px;
}
.music-content {
  object-fit: contain;
  font-family: Arial;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
.music-content.en {
  height: 22px;
  color: #ffffff;
  font-size: 20px;
}
.music-content.kor {
  height: 24px;
  font-size: 18px;
  color: #dcdcdc;
}
.current.keyword,
.current.hashtags {
  display: flex;
}
.current.hashtags {
  margin-left: 47.6px;
  height: 27px;
  object-fit: contain;
  font-family: NotoSansKR;
  word-spacing: -2.2px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b493ef;
}
.keyword-hashtag {
  padding-right: 9px;
}
/* 오늘의 이슈 */
.today-issue {
  height: 428px;
  box-shadow: 0 5px 6px 0 rgba(247, 201, 201, 0.04);
  background-color: #202020;
  display: flex;
  font-family: NotoSansKR;
  word-spacing: -2.2px;
  overflow: hidden;
}
.issue-img {
  -webkit-filter: grayscale(100%);
  filter: gray;
}
.issue-content {
  padding: 34px 0 0 30px;
}
.content-title {
  height: 67px;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #ffffff;
}
.content-desc {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
.issue.content-desc {
  height: 64px;
  margin: 10px 0 25px 0;
}
.issue.playlists-pic {
  width: 100px;
  height: 100px;
  padding-top: 1px;
}
.issue.playlists-totalN {
  width: 163px;
  height: 29px;
  font-family: "Noto Sans KR", sans-serif !important;
  word-spacing: 0px;
  font-size: 20px;
  line-height: 1;
  color: #bcbcbc;
  margin-bottom: 15.5px;
}
.issue.playlists-content,
.issue.playlists-content2 {
  width: 833px;
  display: flex;
  padding: 16.5px 0 14.5px 11.5px;
  border-width: 1px;
  border-color: #707070;
}
.issue.playlists-content {
  margin: 0 0 0 14.5px;
  border-style: solid none solid none;
}
.issue.playlists-content2 {
  margin: -1px 0 0 14.5px;
  border-style: none none solid none;
}
.issue.playlists-desc {
  padding-left: 16px;
}
.playlists-hashtag {
  height: 27px;
  object-fit: contain;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #8776a6;
  padding-top: 3.5px;
}
.playlists-title {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.issue.playlists-title {
  height: 30px;
  font-size: 22px;
  line-height: 1.36;
  margin: 12px 0 0 4.4px;
}
.playlists-etc-info {
  display: flex;
}
.issue.playlists-etc-info {
  padding: 10px 0 0 4px;
}
.playlists-user {
  display: flex;
  word-spacing: 0px;
}
.user-pic {
  width: 34px;
  height: 34px;
}
.user-name {
  object-fit: contain;
  font-family: Arial;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
.issue.user-name {
  height: 29px;
  font-size: 22px;
  color: #bcbcbc;
  padding: 6.5px 0 0 8px;
}

.user-role {
  object-fit: contain;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b493ef;
}
.issue.user-role {
  height: 27px;
  font-size: 20px;
  padding: 7.5px 0 0 8px;
}
.playlists-like {
  display: flex;
}
.issue.playlists-like {
  padding-left: 28.3px;
}
.like-icn {
  height: 17.1px;
  margin-top: 12.5px;
}
.like-num {
  height: 25px;
  object-fit: contain;
  font-family: Arial;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #bcbcbc;
  padding: 8px 0 0 6.6px;
}
/* .main-content {
  float: left;
  width: 70%;
  padding-left: 20px;
}
.main-title {
  font-weight: 400;
  margin: 48px 0 28px 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.main-desc {
  margin: 0 0 20px 0;
}
.search-layout {
  padding-top: 20px;
}
.search-layout::after {
  content: "";
  display: block;
  clear: both;
}
.search {
  float: left;
  width: 48%;
}
.search:first-child {
  margin-right: 4%;
}
.search-title {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.search-title > a,
.search-desc > a {
  color: #20aa76;
}
.search-title > a:hover,
.search-desc > a:hover {
  color: #25c488;
}
.search-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.search-form {
  margin: 10px 0 30px;
  position: relative;
}
.search-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px;
}
.search-form-btn {
  position: absolute;
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent;
  color: #44b78b;
  cursor: pointer;
}
.search-form-btn:hover {
  color: #0c4b44;
} */

/* SIDE CONTENT */
/* .side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.cta.side-cta:hover {
  color: white;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: " >";
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  font-size: 1.4rem;
  color: #859d94;
  margin: 10px 0 0 0;
} */

/* GUIDE SECTION */
.guide-section {
  background: blue;
  float: right;
  width: 586px;
  margin: 0;
}
/* .guide-content-icon {
  background: black;
  float: left;
  width: 94.6px;
  margin: 0;
  padding: 0 30px 0 30px;
} */
.guide-content {
  background: red;
  /* float: right;
  width: 233.4px; */
  /* height: 4219px; */
  margin: 0;
}
.nav {
  text-align: left;
  margin-left: -40px;
}
ul.guide {
  padding-bottom: 7px;
}
.guide.t {
  height: 33px;
  font-size: 22px;
  margin: 24px 0 21px 0;
}
.guide.t > a {
  vertical-align: middle;
}
.guide.item {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.11;
  height: 27px;
}
.guide.item > a {
  color: #dcdcdc;
  vertical-align: middle;
  /* display: inline-block; */
  /* text-transform: uppercase; */
}
/* .list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #c9f8dd;
} */

/* Footer */
.footer {
  background: yellow;
  /* clear: both; */
}

/* clear: both;
=>취소하다 float right&left */
