/* 공통 속성 */
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  /* min-width: 1685px; */
  width: 1920px;
  font-size: 1.8rem;
  font-family: "Noto Sans KR", sans-serif !important;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* CTA */
/* .cta {
  color: white;
  font-weight: 400;
  display: block;
  border-radius: 8px;
  background: #44b78b;
}
.cta:hover {
  background: #51be95;
} */

/* Header */
.header {
  background: black;
  height: 93px;
  padding: 30px 0 24px;
}
.container,
.container-float {
  background: lime;
  /* max-width: 1920px; */
  margin: 0 auto;
  /* padding: 0 20px; */
  position: relative;
}
/* 부모요소에게 after를 사용하여 float되어 있는 요소를 clear해줍니다 */
.container-float::after {
  display: block;
  content: "";
  clear: both;
}
.guide-icon {
  margin: 0;
  padding-left: 38px;
  /* padding-left: inherit; */
  position: absolute;
  top: 8px;
  left: 0;
}
.logo {
  margin: 0;
  padding-left: 97px;
  position: absolute;
  top: 2.1px;
  left: 0;
}
.search {
  width: 819px;
  /* height: 50px; */
}
.search-form {
  /* margin: 10px 0 30px; */
  padding-left: 364px;
  position: relative;
}
.search-form-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  left: 364px;
  border: 0;
  background: url("images/icon/again/icon_search.png") no-repeat;
  /* color: #44b78b; */
  cursor: pointer;
}
/* .search-form-btn:hover {
  color: #0c4b44;
} */
.search-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* height: 5rem; */
  padding: 9px 10px 5px 34px;
}
input::placeholder {
  color: white;
  font-size: 22px;
}
.notify-icon {
  margin: 0;
  position: absolute;
  top: 8px;
  right: 44px;
}

/* Main */
/* GUIDE SECTION */
.guide-section {
  background: blue;
  float: left;
  width: 328px;
  margin: 0;
  /* border-left: 1px solid #cfe3dc; */
}
.guide-content-icon {
  background: black;
  float: left;
  width: 94.6px;
  margin: 0;
  padding: 0 30px 0 30px;
}
.guide.icon {
  text-align: center;
  margin-top: 32px;
}
.home.icon {
  margin-bottom: 284.4px;
  height: 16.6px;
}
.artInfo.icon {
  margin-bottom: 270px;
  height: 16px;
}
.user.icon {
  margin-bottom: 204px;
  height: 33px;
}
.guide-content {
  background: red;
  float: right;
  width: 233.4px;
  margin: 0;
}
.nav {
  text-align: left;
  margin-left: -40px;
}
ul.guide {
  padding-bottom: 7px;
}
/* .list {
  margin: 0;
  font-size: 0;
} */
.guide.t {
  height: 33px;
  font-size: 22px;
  margin: 24px 0 21px 0;
}
.guide.t > a {
  vertical-align: middle;
}
.guide.item {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.11;
  height: 27px;
}
.guide.item > a {
  color: #dcdcdc;
  vertical-align: middle;
  /* display: inline-block; */
  /* text-transform: uppercase; */
}
/* .list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #c9f8dd;
} */
/* HERO SECTION */
/* .hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc;
}
.intro-desc {
  margin: 40px auto 50px;
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}
.hero-cta {
  width: 300px;
  margin: 0 auto 60px;
  padding: 20px 50px;
} */

/* MAIN CONTENT */
.main-content {
  background: pink;
  float: right;
  width: 1592px;
}
.today-issue {
  width: 1520px;
  height: 428px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.04);
  background-color: orange;
  display: flex;
  margin: 42px 0 0 36px;
  font-family: NotoSansKR;
  word-spacing: -2.2px;
  overflow: hidden;
}
.issue-img {
  -webkit-filter: grayscale(100%);
  filter: gray;
}
.issue-content {
  padding: 34px 0 0 30px;
}
.issue-title {
  height: 67px;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #ffffff;
}
.issue-disc {
  width: 838px;
  height: 64px;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  margin: 10px 0 25px 0;
}
.playlists-pic {
  padding-top: 1px;
}
.playlists-totalN {
  height: 29px;
  font-size: 20px;
  line-height: 1;
  color: #bcbcbc;
  margin-bottom: 15.5px;
}
.playlists-content,
.playlists-content2 {
  width: 833px;
  display: flex;
  padding: 16.5px 0 14.5px 11.5px;
  border-width: 1px;
  border-color: #707070;
}
.playlists-content {
  margin: 0 0 0 14.5px;
  border-style: solid none solid none;
}
.playlists-content2 {
  margin: -1px 0 0 14.5px;
  border-style: none none solid none;
}
.desc {
  padding-left: 16px;
}
.hashtag {
  height: 27px;
  object-fit: contain;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding-top: 3.5px;
  letter-spacing: normal;
  color: #8776a6;
}
.playlists-title {
  padding: 12px 0 0 4.4px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.playlists-etc-info {
  display: flex;
  padding: 10px 0 0 4px;
}
.playlists-user {
  display: flex;
}
.user-name {
  height: 29px;
  object-fit: contain;
  font-family: Arial;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  padding: 6.5px 0 0 8px;
}
.user-role {
  height: 27px;
  object-fit: contain;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #b493ef;
  padding: 7.5px 0 0 8px;
}
.playlists-like {
  display: flex;
  padding-left: 28.3px;
}
.like-icn {
  height: 17.1px;
  margin-top: 12.5px;
}
.like-num {
  height: 25px;
  object-fit: contain;
  font-family: Arial;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #bcbcbc;
  padding: 8px 0 0 6.6px;
}
/* .main-content {
  float: left;
  width: 70%;
  padding-left: 20px;
}
.main-title {
  font-weight: 400;
  margin: 48px 0 28px 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.main-desc {
  margin: 0 0 20px 0;
}
.search-layout {
  padding-top: 20px;
}
.search-layout::after {
  content: "";
  display: block;
  clear: both;
}
.search {
  float: left;
  width: 48%;
}
.search:first-child {
  margin-right: 4%;
}
.search-title {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.search-title > a,
.search-desc > a {
  color: #20aa76;
}
.search-title > a:hover,
.search-desc > a:hover {
  color: #25c488;
}
.search-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.search-form {
  margin: 10px 0 30px;
  position: relative;
}
.search-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px;
}
.search-form-btn {
  position: absolute;
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent;
  color: #44b78b;
  cursor: pointer;
}
.search-form-btn:hover {
  color: #0c4b44;
} */

/* SIDE CONTENT */
/* .side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.cta.side-cta:hover {
  color: white;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: " >";
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  font-size: 1.4rem;
  color: #859d94;
  margin: 10px 0 0 0;
} */

/* Footer */
.footer {
  background: yellow;
  /* clear: both; */
}

/* clear: both;
=>취소하다 float right&left */
