/* 공통 속성 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 1060px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}
a {
  text-decoration: none;
}

/* CTA */
.cta {
  color: white;
  font-weight: 400;
  display: block;
  border-radius: 8px;
  background: #44b78b;
}
.cta:hover {
  background: #51be95;
}

/* Header */
.header {
  background: #0c4b33;
  height: 72px;
  padding: 15px 0 4px;
}
.container,
.container-float {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.container-float::after {
  display: block;
  content: "";
  clear: both; /* 부모요소에게 after를 사용하여 float되어 있는 요소를 clear해줍니다 */
}
.logo {
  margin: 0;
  padding-left: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  text-align: right;
}
.list {
  margin: 0;
  font-size: 0;
}
.list-item {
  font-weight: 700;
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #c9f8dd;
}

/* Main */
/* HERO SECTION */
.hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid #cfe3dc;
}
.intro-desc {
  margin: 40px auto 50px;
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}
.hero-cta {
  width: 300px;
  margin: 0 auto 60px;
  padding: 20px 50px;
}

/* MAIN CONTENT */
.main-content {
  float: left;
  width: 70%;
  padding-left: 20px;
}
.main-title {
  font-weight: 400;
  margin: 48px 0 28px 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.main-desc {
  margin: 0 0 20px 0;
}
.mailing-layout {
  padding-top: 20px;
}
.mailing-layout::after {
  content: "";
  display: block;
  clear: both;
}
.mailing {
  float: left;
  width: 48%;
}
.mailing:first-child {
  margin-right: 4%;
}
.mailing-title {
  margin: 0 0 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
}
.mailing-title > a,
.mailing-desc > a {
  color: #20aa76;
}
.mailing-title > a:hover,
.mailing-desc > a:hover {
  color: #25c488;
}
.mailing-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.mailing-form {
  margin: 10px 0 30px;
  position: relative;
}
.mailing-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, o); /* display: none;visibility: hidden; */
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px;
}
.mailing-form-btn {
  position: absolute;
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent;
  color: #44b78b;
  cursor: pointer;
}
.mailing-form-btn:hover {
  color: #0c4b44;
}

/* SIDE CONTENT */
.side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.cta.side-cta:hover {
  color: white;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: " >";
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.news-meta > span {
  font-weight: 700;
}
.list-communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  font-size: 1.4rem;
  color: #859d94;
  margin: 10px 0 0 0;
}

/* Footer */
.footer {
  background: green;
  clear: both;
}

/* clear: both;
=>취소하다 float right&left */
